*.db
*.pdf
*.old
*.retry
e
e2
e3
bred*
.vagrant
vagrant-hosts.ini 
log*
*.log
test*.sh
*.*~
old
*.virtuozzo.com
extra
tmp
artifacts 
.vscode
.idea
packerlog.txt
*.box
packer_cache 
test.yml 
.vscode
*.pickle
ansible-playbook
to_delete
*.seqdiag
*.tfstate.backup
*.tfvars
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

